<h1>Trabalho de Análise de Negócios com Uso de Big Data</h1>

Alunos: Kauan Xavier (1220200659), Patrick Ribeiro (1220302104), Pedro

Link do dataset usado ao longo deste relatório: [Top 1000 Bollywood movies and their box office](https://www.kaggle.com/datasets/bilalwaseer/top-1000-bollywood-movies-and-their-box-office)

Neste relatório iremos analisar um dataset que contém uma lista com o top 1000 filmes de Bollywood, a Hollywood indiana. Nesta análise, buscaremos os maiores filmes da lista, no quesito de lucro.

<hr>

In [4]:
# Começaremos importando a biblioteca pandas e exibindo a tabela em sua forma completa, antes de qualquer manipulação

import pandas as pd

global tabela # A tabela ficará guardada dentro de uma variável global, para evitar repetição
tabela = pd.read_csv("bollywood.csv", sep=',')
display(tabela)

,Unnamed: 0,SN,Movie,Worldwide,India Net,India Gross,Overseas,Budget,Verdict
0,0,1,Pathaan,10500000000,5240000000,6570000000,3920000000,2500000000,All Time Blockbuster
1,1,2,Baahubali 2 The Conclusion,17880000000,5100000000,14160000000,3710000000,2500000000,All Time Blockbuster
2,2,3,KGF Chapter 2,12080000000,4350000000,10000000000,2070000000,1000000000,All Time Blockbuster
3,3,4,Dangal,20700000000,3740000000,5350000000,15350000000,700000000,All Time Blockbuster
4,4,5,Sanju,5880000000,3420000000,4380000000,1500000000,1000000000,All Time Blockbuster
...,...,...,...,...,...,...,...,...,...
995,995,996,Nikamma,0,20000000,20000000,0,10000000,0
996,996,997,Saugandh,30000000,20000000,30000000,0,20000000,Average
997,997,998,Akaash Vani,30000000,20000000,20000000,0,100000000,Disaster
998,998,999,Zwigato,10000000,20000000,10000000,0,10000000,0
999,999,1000,FryDay,20000000,20000000,20000000,0,150000000,Disaster

In [14]:
# Começaremos removendo alguns campos da tabela sem utilidade para este relatório.

# tabela = tabela.drop("Verdict", axis=1)
# tabela = tabela.drop("Unnamed: 0", axis=1)
# tabela = tabela.drop("SN", axis=1)

display(tabela)

,Movie,Worldwide,India Net,India Gross,Overseas,Budget
0,Pathaan,10500000000,5240000000,6570000000,3920000000,2500000000
1,Baahubali 2 The Conclusion,17880000000,5100000000,14160000000,3710000000,2500000000
2,KGF Chapter 2,12080000000,4350000000,10000000000,2070000000,1000000000
3,Dangal,20700000000,3740000000,5350000000,15350000000,700000000
4,Sanju,5880000000,3420000000,4380000000,1500000000,1000000000
...,...,...,...,...,...,...
995,Nikamma,0,20000000,20000000,0,10000000
996,Saugandh,30000000,20000000,30000000,0,20000000
997,Akaash Vani,30000000,20000000,20000000,0,100000000
998,Zwigato,10000000,20000000,10000000,0,10000000
999,FryDay,20000000,20000000,20000000,0,150000000

In [ ]:
# Organizaremos a tabela de acordo com o lucro